<template>
  <div id="app">
    <h1 id="header">Form</h1>
    <hr />
    <div class="row">
      <div class="col-md-6 form-column">
        <div class="form-group">
          <label for="userName">Name:</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            placeholder="Jane Doe"
            v-model="name"
            v-on:input="$v.name.$touch()"
            :class="{invalid: $v.name.$error}"
          />
          <small
            id="emailHelp"
            class="form-text text-muted"
            v-if="!$v.name.maxLength"
          >نام کاربر نمی‌ تواند بیشتر از {{ $v.name.$params.maxLength.max }} کاراکتر داشته باشد</small>
        </div>
        <div class="form-group">
          <label for="userEmail">Email:</label>
          <input
            type="email"
            class="form-control"
            id="userEmail"
            placeholder="yourEmail@example.com"
            v-model="email"
            v-on:blur="$v.email.$touch()"
            :class="{invalid: $v.email.$error}"
          />
          <small
            id="emailHelp"
            class="form-text text-muted"
            v-if="!$v.email.email"
          >ایمیل واردشده معتبر نمی‌باشد</small>
          <small
            id="emailHelp"
            class="form-text text-muted"
            v-if="!$v.email.required && $v.email.$dirty"
          >لطفاً ایمیل خود را وارد کنید</small>
        </div>
        <div class="form-group">
          <label for="userAge">Age:</label>
          <input
            type="number"
            id="userAge"
            class="form-control"
            placeholder="your age"
            v-model="age"
          />
        </div>
        <div class="form-row">
          <div class="col">
            <label class="gender-label">Gender:</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                value="male"
                v-model="gender"
              />
              <label class="form-check-label">male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                value="female"
                v-model="gender"
              />
              <label class="form-check-label">female</label>
            </div>
          </div>
          <div class="col">
            <label for="userImage">Your Image:</label>
            <input
              type="file"
              class="form-control-file"
              id="userImage"
              v-on:change="previewImage"
              accept="image/*"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="userCountry">Country</label>
          <select class="form-control" id="userCountry" v-model="country">
            <option>German</option>
            <option selected>Iran</option>
            <option>Canada</option>
            <option>Japan</option>
            <option>France</option>
          </select>
        </div>
        <div class="form-group">
          <label for="userMessage">Message:</label>
          <textarea class="form-control" id="userMessage" v-model="message"></textarea>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  value="ReciveMail"
                  v-model="agree"
                  v-on:input="$v.agree.$touch()"
                /> Agree with policy terms
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="ReciveMail" v-model="recieveMail" /> Recive Mail
              </label>
            </div>
          </div>
          <div class="col-3">
            <button
              type="button"
              class="btn btn-success"
              v-on:click="onUpload"
              :disabled="$v.$invalid"
            >Submit</button>
          </div>
        </div>
      </div>
    </div>ّ
    <hr />
  </div>
</template>

<script>
import firebase from "firebase";
import axios from "axios";
import { required, maxLength, email } from "vuelidate/lib/validators";

export default {
  name: "app",
  data() {
    return {
      imageData: null,
      uploadValue: 0,

      name: "",
      email: "",
      age: "",
      gender: "",
      country: "Iran",
      message: "",
      imageUrl: "",
      recieveMail: false,
      agree: false
    };
  },

  methods: {
    
    previewImage(event) {
      this.imageData = event.target.files[0];
    },

    onUpload() {

      const user = {
        name: this.name,
        email: this.email,
        age: this.age,
        gender: this.gender,
        country: this.country,
        message: this.message,
        imageUrl: this.imageUrl,
        recieveMail: this.recieveMail
      };

      if (this.imageData) {
        const storageRef = firebase
          .storage()
          .ref(`${this.imageData.name}`)
          .put(this.imageData);

        storageRef.on(
          "state_changed",
          snapshot => {
            this.uploadValue =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            console.log("Upload is " + this.uploadValue + "% done");
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED:
                console.log("Upload is paused");
                break;
              case firebase.storage.TaskState.RUNNING:
                console.log("Upload is running");
                break;
            }
          },
          error => {
            console.log(error);
          },
          () => {
            storageRef.snapshot.ref
              .getDownloadURL()
              .then(function(downloadURL) {
                console.log("File available at", downloadURL);
                user.imageUrl = downloadURL; 

                axios
                  .post(
                    "https://vue-upload-6a36a.firebaseio.com/User.json",
                    user
                  )
                  .then(res => {
                    console.log(res.config.data);
                  });
              });
          }
        );
      }
    }
  },

  validations: {
    name: {
      maxLength: maxLength(20)
    },
    email: {
      required,
      email
    },
    agree: {
      agreeWithPolicy: val => val
    }
  }
};
</script>

<style scoped="">
#header {
  text-align: center;
}
.row {
  justify-content: center;
}
.gender-label {
  display: block;
}
.form-column {
  background-color: powderblue;
}
.invalid {
  border: 1px solid red;
  background-color: lightpink;
}
</style>


